
# Entrada - Salida de datos

Este notebook sirve de referencia para trabajar con entrada - salida de datos. 
Pandas permite leer un gran variedad de tipos de archivos usando los métodos pd.read_*. 
Veamos los más comunes:
* CSV
* Excel
* HTML
* SQL

## Instalación

Aunque ya deberia estar todo instalado, si hay algún problema asegúrese de tener instalado lo siguiente:
* conda install sqlalchemy
* conda install lxml
* conda install html5lib
* conda install BeautifulSoup4
* conda install xlrd

In [1]:
import numpy as np
import pandas as pd

In [2]:
pwd

'C:\\Users\\Estudiante\\Documents\\marcoteran'

In [3]:
ls

 El volumen de la unidad C no tiene etiqueta.
 El n£mero de serie del volumen es: BA8F-6BEA

 Directorio de C:\Users\Estudiante\Documents\marcoteran

11/04/2018  07:18 p. m.    <DIR>          .
11/04/2018  07:18 p. m.    <DIR>          ..
11/04/2018  06:48 p. m.    <DIR>          .ipynb_checkpoints
04/04/2018  06:32 p. m.            14.661 0 - Introducci¢n a Jupyter.ipynb
10/04/2018  06:42 p. m.            15.835 0_Pandas_Intro_Series.ipynb
10/04/2018  07:48 p. m.           101.681 1_Pandas_DataFrames.ipynb
10/04/2018  08:05 p. m.            13.782 2_Pandas_Datos_Faltantes.ipynb
10/04/2018  08:54 p. m.            25.524 3_Pandas_Agrupaciones.ipynb
11/04/2018  06:49 p. m.            56.835 4_Pandas_combinando_DF.ipynb
11/04/2018  07:18 p. m.            43.214 5_Pandas_Operaciones.ipynb
10/04/2018  06:24 p. m.             7.201 6_Pandas_Entrada Salida.ipynb
04/04/2018  06:22 p. m.            11.649 Curso r pido de Python Ejercicios.ipynb
04/04/2018  09:10 p. m.           103.304 Curso r pido de Python.ipynb
04/04/2018  06:14 p. m.            18.114 Ejemplo notebook.ipynb
26/03/2018  06:07 a. m.           133.166 groupby.PNG
08/04/2018  09:35 a. m.            35.804 join-or-merge.png
05/04/2018  06:06 p. m.    <DIR>          notebooks_m1_s3
05/04/2018  06:05 p. m.            70.655 notebooks_m1_s3.zip
05/04/2018  08:09 p. m.            36.925 NumPy - Arreglos.ipynb
05/04/2018  07:32 p. m.            25.423 Numpy - Indices y Selecci¢n.ipynb
05/04/2018  08:43 p. m.            20.753 Numpy - Operaciones.ipynb
05/04/2018  09:08 p. m.            17.405 Numpy - Taller.ipynb
22/02/2018  08:57 p. m.           653.078 pandas.png
10/04/2018  08:28 p. m.    <DIR>          Parte1_pandas_notebooks
10/04/2018  06:24 p. m.         1.630.818 Parte1_pandas_notebooks.zip
05/04/2018  05:23 p. m.            13.017 SciPy.ipynb
04/04/2018  06:22 p. m.             7.195 Sesion1_Python_Carga_Archivos.ipynb
10/04/2018  07:54 p. m.            91.479 Sesion2_Taller_SistemasLineales_Centrado.ipynb
              23 archivos      3.147.518 bytes
               5 dirs  852.449.054.720 bytes libres

## CSV - Comma Separated Values

### Entrada CSV

In [8]:
# Para ver la variedad de formatos que se pueden leer. escribir pd.read_ y presionar TAB

df = pd.read_csv('ejemplo.csv')
df['nueva']=df['a']+df['b']
df

    a   b   c   d  nueva
0   0   1   2   3      1
1   4   5   6   7      9
2   8   9  10  11     17
3  12  13  14  15     25

### Salida CSV

In [9]:
df.to_csv('ejemplo_salida.csv',index=False)

## Excel

Pandas puede leer y escribir archivos de Excel. Tenga en cuenta que sólo se importan los valores, no se importan fórmulas o imágenes. Es posible que el método read_excel de Pandas falle si la hoja de Excel tiene macros o imágenes.

### Entrada Excel

In [10]:
pd.read_excel('ejemplo_Excel.xlsx',sheet_name='Hoja1')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### Excel Output

In [11]:
df.to_excel('ejemplo_Excel_salida.xlsx',sheet_name='Hoja1')

## HTML

Pandas puede leer tablas a partir de un html. Por ejemplo:

### Entrada HTML

La función read_html de Pandas lee tablas a partir de una página web HTML y retorna una lista de objetos DataFrames:

In [12]:
df = pd.read_html('https://resultados2018.registraduria.gov.co/resultados/99SE/BXXXX/DSE99999.htm')

In [13]:
# df contiene una lista de DataFrames con cada una de las tablas de esa página web  

df

[                                                 0                1   2
 0                         (001) ALVARO URIBE VELEZ  875.554 (5,71%) NaN
 1                (006) PAOLA ANDREA HOLGUIN MORENO   58.005 (0,37%) NaN
 2            (036) AMANDA ROCIO GONZALEZ RODRIGUEZ   45.505 (0,29%) NaN
 3                       (005) ERNESTO MACIAS TOVAR   39.669 (0,25%) NaN
 4                (010) MARIA FERNANDA CABAL MOLINA   37.905 (0,24%) NaN
 5              (015) CIRO ALEJANDRO RAMIREZ CORTES   36.677 (0,23%) NaN
 6                 (020) SANTIAGO VALENCIA GONZALEZ   35.351 (0,23%) NaN
 7            (007) HONORIO MIGUEL HENRIQUEZ PINEDO   33.432 (0,21%) NaN
 8               (013) GABRIEL JAIME VELASCO OCAMPO   33.180 (0,21%) NaN
 9                   (009) RUBY HELENA CHAGUI SPATH   31.589 (0,20%) NaN
 10                (032) ALEJANDRO CORRALES ESCOBAR   30.830 (0,20%) NaN
 11            (003) PALOMA SUSANA VALENCIA LASERNA   29.319 (0,19%) NaN
 12                 (017) CARLOS FELIPE MEJIA MEJIA   28.985 (0,18%) NaN
 13                     (041) NICOLAS PEREZ VASQUEZ   28.983 (0,18%) NaN
 14  (002) MARIA DEL ROSARIO GUERRA DE LA ESPRIELLA   28.739 (0,18%) NaN
 15             (004) FERNANDO NICOLAS ARAUJO RUMIE   27.866 (0,18%) NaN
 16              (030) CARLOS MANUEL MEISEL VERGARA   27.284 (0,17%) NaN
 17                (011) MILLA PATRICIA ROMERO SOTO   26.901 (0,17%) NaN
 18                 (042) JOHN HAROLD SUAREZ VARGAS   26.760 (0,17%) NaN
 19                               SOLO POR LA LISTA  522.030 (3,40%) NaN
 20                (060) JOSE OBDULIO GAVIRIA VELEZ   25.762 (0,16%) NaN
 21             (021) YENNY ESPERANZA ROZO ZAMBRANO   24.930 (0,16%) NaN
 22                  (048) LUIS ALFONSO PLAZAS VEGA   24.392 (0,15%) NaN
 23                 (025) OSWALDO FERRI ORTIZ RAMOS   23.586 (0,15%) NaN
 24                   (008) NOHORA STELLA TOVAR REY   23.330 (0,15%) NaN
 25                (027) LEON RIGOBERTO BARON NEIRA   22.829 (0,14%) NaN
 26               (012) SERGIO RAFAEL ARAUJO CASTRO   22.799 (0,14%) NaN
 27             (037) MIGUEL ALBERTO MATUS ALVARADO   20.397 (0,13%) NaN
 28            (014) JAIME ALEJANDRO AMIN HERNANDEZ   19.812 (0,12%) NaN
 29            (055) HECTOR AUGUSTO LOPEZ CASTAÑEDA   19.742 (0,12%) NaN
 ..                                             ...              ...  ..
 31                   (038) FABIO ARISTIZABAL ANGEL   14.665 (0,09%) NaN
 32         (031) LEONARDO ALFONSO BARRERO GORDILLO   14.531 (0,09%) NaN
 33                  (026) EVERTH BUSTAMANTE GARCIA   13.806 (0,09%) NaN
 34                (024) MARIA REGINA ZULUAGA HENAO   13.447 (0,08%) NaN
 35            (019) PIERRE EUGENIO GARCIA JACQUIER   13.410 (0,08%) NaN
 36              (033) EDUARDO JOSE GONZALEZ ANGULO   13.211 (0,08%) NaN
 37             (053) EMMANUEL ENRIQUE ARANGO GOMEZ   12.474 (0,08%) NaN
 38                    (047) QUINTIN HERRERA QUIROZ   11.713 (0,07%) NaN
 39                (034) LUIS OSWALDO PARADA PRIETO   11.411 (0,07%) NaN
 40                  (040) YOHANA SALAMANCA JIMENEZ   11.376 (0,07%) NaN
 41          (018) DANIEL ALBERTO CABRALES CASTILLO   11.259 (0,07%) NaN
 42           (028) EDUARDO JOSE ALVARADO SANTANDER   10.925 (0,07%) NaN
 43              (046) HERNANDO MARQUEZ ARISTIZABAL    9.733 (0,06%) NaN
 44         (016) CLAUDIA MARIA BUSTAMANTE CEBALLOS    8.937 (0,05%) NaN
 45                (023) CARLOS ALBERTO GOMEZ GOMEZ    8.898 (0,05%) NaN
 46                (050) ROBINSON GONZALEZ GONZALEZ    8.817 (0,05%) NaN
 47               (049) PABLO ANDRES GUERRERO PEREZ    8.460 (0,05%) NaN
 48                      (029) EVAMARIA URIBE TOBON    8.299 (0,05%) NaN
 49           (054) ZAIDA DEL CARMEN BARRERO CUERVO    7.283 (0,04%) NaN
 50                     (022) ALFREDO RANGEL SUAREZ    6.916 (0,04%) NaN
 51                 (044) JOSE JOHN MARULANDA MARIN    6.539 (0,04%) NaN
 52              (051) JULIA ISABEL ESCALLON SALGAR    5.801 (0,03%) NaN
 53               (058) BASILIO VILLAMIZAR TRUJILLO    5.786 (0,03%) NaN
 54                (043) BRASILIA ROMERO SINISTERRA    4.671 (0,03%) NaN
 55                     (045) ALVARO GUZMAN ORJUELA    4.484 (0,02%) NaN
 56             (039) CARLOS ALBERTO SIERRA MURILLO    4.479 (0,02%) NaN
 57                        (052) LESZLI KALLI LOPEZ    4.175 (0,02%) NaN
 58         (057) FRANKLIN ORLANDO MOSQUERA MONTOYA    4.017 (0,02%) NaN
 59                 (056) ANA MARIA ABELLO RESTREPO    3.497 (0,02%) NaN
 60                  (059) VIVIANA MANRIQUE ZULUAGA    2.228 (0,01%) NaN

 [61 rows x 3 columns],
                                                     0                1   2
 0                           (003) ARTURO CHAR CHALJUB  126.628 (0,82%) NaN
 1             (006) LUIS EDUARDO DIAZ GRANADOS TORRES  112.591 (0,73%) NaN
 2                         (001) RODRIGO LARA RESTREPO   90.413 (0,59%) NaN
 3                        (018) DIDIER LOBO CHINCHILLA   86.744 (0,56%) NaN
 4                    (013) EDGAR JESUS DIAZ CONTRERAS   81.082 (0,52%) NaN
 5                  (007) CARLOS ABRAHAM JIMENEZ LOPEZ   79.306 (0,51%) NaN
 6                 (010) CARLOS FERNANDO MOTOA SOLARTE   78.864 (0,51%) NaN
 7                (055) FABIAN GERARDO CASTILLO SUAREZ   78.845 (0,51%) NaN
 8                 (014) RICHARD ALFONSO AGUILAR VILLA   76.942 (0,50%) NaN
 9                 (035) ANTONIO LUIS ZABARAIN GUEVARA   74.786 (0,48%) NaN
 10                 (004) DAIRA DE JESUS GALVIS MENDEZ   73.687 (0,48%) NaN
 11                       (008) JOSE LUIS PEREZ OYUELA   70.069 (0,45%) NaN
 12  (002) CLAUDIA YADIRA INES RODRIGUEZ DE CASTELL...   66.601 (0,43%) NaN
 13                         (100) GERMAN VARON COTRINO   64.457 (0,42%) NaN
 14                   (021) TEMISTOCLES ORTEGA NARVAEZ   63.592 (0,41%) NaN
 15    (005) ANTONIO DEL CRISTO GUERRA DE LA ESPRIELLA   55.792 (0,36%) NaN
 16                                  SOLO POR LA LISTA  231.841 (1,51%) NaN
 17                    (046) ANA MARIA CASTAÑEDA GOMEZ   53.947 (0,35%) NaN
 18               (090) JULIANA MARIA ESCALANTE GARCIA   51.577 (0,33%) NaN
 19                   (098) CARLOS DAVID GOMEZ ESPITIA   51.486 (0,33%) NaN
 20                       (012) BERNABE CELIS CARRILLO   49.237 (0,32%) NaN
 21                  (050) GUILLERMO LEON PALACIO VEGA   45.198 (0,29%) NaN
 22                     (009) ROSMERY MARTINEZ ROSALES   43.155 (0,28%) NaN
 23             (020) CARLOS EDUARDO ESPINOSA MARTINEZ   42.537 (0,27%) NaN
 24               (034) DAVID FELIPE CASTILLO CARDENAS   38.688 (0,25%) NaN
 25                   (011) ROBERTO JOSE BUELVAS NADER   34.525 (0,22%) NaN
 26                        (015) HAROLD GUERRERO LOPEZ   33.516 (0,21%) NaN
 27                   (022) JOSE OVIDIO CLAROS POLANCO   24.819 (0,16%) NaN
 28                           (033) FREDY HERNAN PEREZ   21.290 (0,13%) NaN
 29                     (070) OSMAN FERNANDO ROA LOPEZ   13.655 (0,08%) NaN
 ..                                                ...              ...  ..
 60                (058) MARIA ISABEL CASTILLO PEDROZA    1.597 (0,01%) NaN
 61               (039) ANDRES FERNANDO VASQUEZ VARGAS    1.539 (0,01%) NaN
 62                       (040) GUSTAVO RAMIREZ OROZCO    1.534 (0,01%) NaN
 63                  (044) JOSE ADOLFO HERRERA AGUIRRE    1.495 (0,01%) NaN
 64                      (038) ERIC VON CABARCAS GOMEZ    1.421 (0,01%) NaN
 65          (064) ANA DELTRUDIS BOHORQUEZ DE PINILLOS    1.389 (0,01%) NaN
 66                 (059) ADRIANA PATRICIA VELEZ DUQUE    1.263 (0,01%) NaN
 67              (088) JONATHAN GILDARDO NUÑEZ GUEVARA    1.246 (0,01%) NaN
 68               (091) NUBIA CLEMENCIA ARIAS GONZALEZ    1.225 (0,01%) NaN
 69                 (023) ELBERTO HEVEO GARZON BARRERA    1.202 (0,01%) NaN
 70                  (089) ELIZABETH CARREÑO HERNANDEZ    1.159 (0,01%) NaN
 71              (073) ARIEL ANTONIO DURANGO RODRIGUEZ    1.074 (0,01%) NaN
 72                (047) JAIRO HERNANDO SALAZAR MORENO    1.070 (0,01%) NaN
 73                   (065) MIGUEL HUMBERTO GAMEZ SOTO    1.060 (0,01%) NaN
 74                   (080) JORGE DAVID BARRETO RINCON    1.045 (0,01%) NaN
 75                     (062) KAREM MILENA VERA VARGAS    1.023 (0,01%) NaN
 76             (068) OSCAR HERNAN VILLALOBOS CHAVARRO    1.016 (0,01%) NaN
 77             (043) FELIX BIENVENIDO ARIÑO FERNANDEZ      969 (0,01%) NaN
 78                   (092) BEATRIZ ELENA RIAÑO GARCIA      925 (0,01%) NaN
 79                 (097) GABRIEL ALBERTO CALLE DEMOYA      923 (0,01%) NaN
 80                      (095) ECCEHOMO AYALA CARDENAS      836 (0,01%) NaN
 81            (084) JENIFFER ALEXANDRA GOMEZ PEÑALOZA      728 (0,01%) NaN
 82                 (071) SANDRA PATRICIA SALAZAR DIAZ      663 (0,01%) NaN
 83                    (085) ELLA CECILIA AYUS SANCHEZ      634 (0,01%) NaN
 84                  (069) MARIO RAMON MENDOZA MENDOZA      621 (0,01%) NaN
 85                (072) JUAN CARLOS CLAVIJO FERNANDEZ      618 (0,01%) NaN
 86             (081) BIBIANA SENETH GIRALDO JARAMILLO      523 (0,01%) NaN
 87                (076) LUCY CECILIA CAHUEÑO CHAPARRO      379 (0,01%) NaN
 88                  (079) MARIA EUGENIA HURTADO RAMOS      192 (0,01%) NaN
 89                           (078) AMPARO REY SANCHEZ      178 (0,01%) NaN

 [90 rows x 3 columns],
                                               0                1   2
 0           (002) DAVID ALEJANDRO BARGUIL ASSIS  139.147 (0,90%) NaN
 1              (003) EFRAIN JOSE CEPEDA SARABIA  117.059 (0,76%) NaN
 2                (007) NORA MARIA GARCIA BURGOS   96.926 (0,63%) NaN
 3         (004) CARLOS ANDRES TRUJILLO GONZALEZ   86.721 (0,56%) NaN
 4             (035) LAUREANO AUGUSTO ACUÑA DIAZ   82.854 (0,54%) NaN
 5                  (100) JUAN SAMY MERHEG MARUN   81.078 (0,52%) NaN
 6           (049) MIGUEL ANGEL BARRETO CASTILLO   79.980 (0,52%) NaN
 7           (012) MYRIAM ALICIA PAREDES AGUIRRE   78.828 (0,51%) NaN
 8                (014) JUAN DIEGO GOMEZ JIMENEZ   74.243 (0,48%) NaN
 9                  (034) AIDA MERLANO REBOLLEDO   73.250 (0,47%) NaN
 10               (010) JUAN CARLOS GARCIA GOMEZ   70.347 (0,45%) NaN
 11             (021) NADYA GEORGETTE BLEL SCAFF   69.840 (0,45%) NaN
 12              (009) ESPERANZA ANDRADE DE OSSO   69.056 (0,45%) NaN
 13           (022) CARLOS EDUARDO ENRIQUEZ MAYA   66.826 (0,43%) NaN
 14                  (006) SOLEDAD TAMAYO TAMAYO   59.149 (0,38%) NaN
 15                            SOLO POR LA LISTA  215.822 (1,40%) NaN
 16       (013) JAVIER MAURICIO DELGADO MARTINEZ   54.018 (0,35%) NaN
 17           (025) HERIBERTO SANABRIA ASTUDILLO   53.718 (0,35%) NaN
 18                (011) JUAN MANUEL CORZO ROMAN   51.751 (0,33%) NaN
 19                 (008) OLGA LUCIA SUAREZ MIRA   49.681 (0,32%) NaN
 20          (020) JAIME LUIS LACOUTURE PEÑALOZA   45.185 (0,29%) NaN
 21                  (001) MIGUEL GOMEZ MARTINEZ   44.232 (0,28%) NaN
 22                (077) JEFFERSON VEGA BUITRAGO   22.624 (0,14%) NaN
 23                   (015) HUGO TOVAR MARROQUIN   13.098 (0,08%) NaN
 24          (099) LUIS FERNANDO URREGO CARVAJAL   11.777 (0,07%) NaN
 25      (005) ROBERTO VICTOR GERLEIN ECHEVERRIA    8.134 (0,05%) NaN
 26              (051) OSCAR IVAN PALACIO TAMAYO    6.105 (0,03%) NaN
 27              (017) MAURICIO FERNANDEZ FRANCO    5.201 (0,03%) NaN
 28           (026) BLAS ALBERTO AHUMADA BARRAZA    4.444 (0,02%) NaN
 29           (018) LUIS EDUARDO DE LA HOZ LOPEZ    4.315 (0,02%) NaN
 ..                                          ...              ...  ..
 65           (043) WILLIAM EDUARDO PEREZ ORTEGA    1.032 (0,01%) NaN
 66          (039) CONRADO DE JESUS ROJAS ARANGO    1.018 (0,01%) NaN
 67                  (045) MARIANELA CAMELO LEON      999 (0,01%) NaN
 68          (096) JHEYSON OVIDIO LONDOÑO ARANGO      986 (0,01%) NaN
 69         (062) JAVIER ENRIQUE MONROY BARRAGAN      981 (0,01%) NaN
 70             (067) ANGEL MARIA PRIETO MONCADA      966 (0,01%) NaN
 71            (047) CARLOS ARTURO POSSO MENDOZA      955 (0,01%) NaN
 72            (065) JOHON ORLANDO GARZON ACOSTA      882 (0,01%) NaN
 73          (084) JUAN JOSE SANTACRUZ RODRIGUEZ      853 (0,01%) NaN
 74                 (071) JAVIER CASTRO MONSALVE      811 (0,01%) NaN
 75     (083) MELKIS GUILLERMO KAMMERER KAMMERER      800 (0,01%) NaN
 76    (069) FERNANDO MAURICIO MURGUEITIO MILLAN      721 (0,01%) NaN
 77           (093) LINDOR LEXCER LESMES INFANTE      611 (0,01%) NaN
 78             (068) FREDY GONZALEZ CASTIBLANCO      535 (0,01%) NaN
 79        (085) ANDRES ALIRIO CORREDOR CORREDOR      517 (0,01%) NaN
 80             (072) LUZ MARINA PARRA SALAMANCA      516 (0,01%) NaN
 81                        (076) LUIS JORGE GAMA      515 (0,01%) NaN
 82           (089) HENRY RAFAEL CALDERON TORRES      501 (0,01%) NaN
 83  (082) LUIS ALCIBIADES HERNANDEZ CASTELLANOS      463 (0,01%) NaN
 84              (095) MARLENY MONDRAGON PIÑEROS      461 (0,01%) NaN
 85                (074) YEDIS LICET LINDO PINTO      422 (0,01%) NaN
 86           (088) NELLY DEL CARMEN LOPEZ DORIA      416 (0,01%) NaN
 87          (086) RUTH ESPERANZA TELLEZ SANCHEZ      404 (0,01%) NaN
 88        (087) CRISTIAN ESTEBAN RAMIREZ ROMERO      380 (0,01%) NaN
 89           (075) ARGEMIRO JOSE AGAMEZ PALACIO      345 (0,01%) NaN
 90            (078) ROSA ALICIA PORTILLA ROSERO      331 (0,01%) NaN
 91          (073) WILSON GERARDO VINCHERY ROJAS      317 (0,01%) NaN
 92              (080) SARA MILENA LASTRA URECHE      317 (0,01%) NaN
 93       (081) JOSE ALBERTO LEGUIZAMO VELASQUEZ      313 (0,01%) NaN
 94          (079) HECTOR ALFONSO RAMIREZ MORENO      272 (0,01%) NaN

 [95 rows x 3 columns],
                                              0                1   2
 0             (007) LIDIO ARTURO GARCIA TURBAY  117.975 (0,77%) NaN
 1                    (001) MAURICIO GOMEZ AMIN  103.301 (0,67%) NaN
 2             (100) HORACIO JOSE SERPA MONCADA   91.407 (0,59%) NaN
 3           (003) MIGUEL ANGEL PINTO HERNANDEZ   84.068 (0,54%) NaN
 4                 (002) FABIO RAUL AMIN SALEME   83.725 (0,54%) NaN
 5                 (017) JULIAN BEDOYA PULGARIN   74.585 (0,48%) NaN
 6           (010) LUIS FERNANDO VELASCO CHAVES   74.265 (0,48%) NaN
 7            (050) MARIO ALBERTO CASTAÑO PEREZ   73.079 (0,47%) NaN
 8            (013) JAIME ENRIQUE DURAN BARRERA   69.487 (0,45%) NaN
 9              (005) IVAN DARIO AGUDELO ZAPATA   67.457 (0,44%) NaN
 10                  (016) ANDRES CRISTO BUSTOS   67.449 (0,44%) NaN
 11               (020) GUILLERMO GARCIA REALPE   64.951 (0,42%) NaN
 12           (014) LAURA ESTER FORTICH SANCHEZ   62.878 (0,41%) NaN
 13             (012) RODRIGO VILLALBA MOSQUERA   62.674 (0,40%) NaN
 14                           SOLO POR LA LISTA  241.259 (1,57%) NaN
 15       (006) ARLETH PATRICIA CASADO DE LOPEZ   57.323 (0,37%) NaN
 16            (004) OLGA LUCIA VELASQUEZ NIETO   54.530 (0,35%) NaN
 17            (030) LUZ PIEDAD VALENCIA FRANCO   50.146 (0,32%) NaN
 18        (099) JAVIER TATO ALVAREZ MONTENEGRO   48.785 (0,31%) NaN
 19          (011) OLGA BEATRIZ GONZALEZ CORREA   40.987 (0,26%) NaN
 20    (018) FERNANDO DAVID MURGUEITIO CARDENAS   40.030 (0,26%) NaN
 21       (015) CARLOS HUMBERTO ISAZA RODRIGUEZ   39.063 (0,25%) NaN
 22           (019) OMAR DE JESUS HOYOS AGUDELO   35.988 (0,23%) NaN
 23            (009) ELEAZAR ALFONSO DURAN MORA   32.842 (0,21%) NaN
 24                  (008) EDINSON DELGADO RUIZ   32.422 (0,21%) NaN
 25            (022) LUIS FERNANDO DUQUE GARCIA   29.495 (0,19%) NaN
 26        (070) SOFIA ALEJANDRA GAVIRIA CORREA   14.790 (0,09%) NaN
 27                       (027) MAYE PLATA VERA    4.111 (0,02%) NaN
 28                 (035) RAUL CARDONA GRISALES    2.872 (0,01%) NaN
 29                  (055) ROSMERY TORRES SAENZ    2.653 (0,01%) NaN
 ..                                         ...              ...  ..
 66        (059) VICTOR HERNEY ROMERO HERNANDEZ      987 (0,01%) NaN
 67           (046) GLORIA JUDITH VELOZA DUARTE      971 (0,01%) NaN
 68           (097) JOHANN STIVEN ROJAS ALVAREZ      933 (0,01%) NaN
 69           (062) ANDRES MAURICIO VELA CORREA      910 (0,01%) NaN
 70        (058) TOMAS ALBERTO MENDOZA VILLEGAS      909 (0,01%) NaN
 71          (069) JAIME ENRIQUE BEDOYA MONTOYA      858 (0,01%) NaN
 72               (039) KATHERINE MARIÑO TORRES      842 (0,01%) NaN
 73              (052) RICARDO JIMENEZ CALDERON      793 (0,01%) NaN
 74         (080) CESAR AUGUSTO GONZALEZ GARCIA      743 (0,01%) NaN
 75          (026) LUIS ESNORALDO TORRES OCAMPO      694 (0,01%) NaN
 76        (047) JAIRO EDUARDO CARRILLO SANCHEZ      687 (0,01%) NaN
 77                  (049) RAUL CACERES BERGAÑO      638 (0,01%) NaN
 78      (094) JORGE ELIECER TARAZONA HERNANDEZ      636 (0,01%) NaN
 79               (045) LUZ LARE PACHON AGUDELO      633 (0,01%) NaN
 80         (072) ANLET JAQUELINE BENT ARCHBOLD      633 (0,01%) NaN
 81           (068) BERNARDO FIDEL CORDOBA DAZA      591 (0,01%) NaN
 82               (092) JORGE DANIEL BORJA JAYK      591 (0,01%) NaN
 83         (073) LUIS FERNANDO BOHORQUEZ REYES      583 (0,01%) NaN
 84                   (096) JESUS CORRALES CANO      540 (0,01%) NaN
 85                    (088) ALVARO GARCIA RUIZ      535 (0,01%) NaN
 86                    (087) ANGEL ANTONIO ROZO      476 (0,01%) NaN
 87          (093) JOSE ABIGAIL MIRANDA VIRGUEZ      447 (0,01%) NaN
 88            (074) VICTOR JULIO CASTILLO LEON      426 (0,01%) NaN
 89  (048) NANCY DEL ROSARIO GUERRERO RODRIGUEZ      423 (0,01%) NaN
 90               (085) LUIS MANUEL RIVAS PARRA      385 (0,01%) NaN
 91       (075) SERGIO EDUARDO MANTILLA BENITEZ      381 (0,01%) NaN
 92               (083) LUZ MARINA ROMERO MOTTA      375 (0,01%) NaN
 93            (079) DIANA PAOLA PEDRAZA MORENO      357 (0,01%) NaN
 94   (076) CRISTINA DEL ROSARIO CABRERA MENDEZ      343 (0,01%) NaN
 95             (084) JAIRO MANTILLA COLMENARES      331 (0,01%) NaN

 [96 rows x 3 columns],
                                             0                1   2
 0     (001) ROY LEONARDO BARRERAS MONTEALEGRE  110.358 (0,72%) NaN
 1            (013) ROOSVELT RODRIGUEZ RENGIFO  103.057 (0,67%) NaN
 2                (021) JOSE RITTER LOPEZ PEÑA   87.394 (0,57%) NaN
 3               (002) JOSE DAVID NAME CARDOZO   86.765 (0,56%) NaN
 4               (009) JUAN FELIPE LEMOS URIBE   82.094 (0,53%) NaN
 5           (006) EDUARDO ENRIQUE PULGAR DAZA   81.698 (0,53%) NaN
 6             (008) JOHN MOISES BESAILE FAYAD   77.448 (0,50%) NaN
 7            (017) JOSE ALFREDO GNECCO ZULETA   76.161 (0,49%) NaN
 8         (004) ANDRES FELIPE GARCIA ZUCCARDI   72.638 (0,47%) NaN
 9   (007) ARMANDO ALBERTO BENEDETTI VILLANEDA   72.576 (0,47%) NaN
 10           (005) GERMAN DARIO HOYOS GIRALDO   72.289 (0,47%) NaN
 11           (099) BERNER LEON ZAMBRANO ERASO   71.087 (0,46%) NaN
 12                    (015) MIGUEL AMIN ESCAF   69.295 (0,45%) NaN
 13         (003) MARITZA MARTINEZ ARISTIZABAL   64.934 (0,42%) NaN
 14                          SOLO POR LA LISTA  203.105 (1,32%) NaN
 15      (050) ALFREDO GUILLERMO MOLINA TRIANA   61.291 (0,40%) NaN
 16          (024) ANGEL CUSTODIO CABRERA BAEZ   61.139 (0,39%) NaN
 17          (010) WILLIAM JIMMY CHAMORRO CRUZ   59.910 (0,39%) NaN
 18      (020) MANUEL GUILLERMO MORA JARAMILLO   54.196 (0,35%) NaN
 19               (018) HERNAN PENAGOS GIRALDO   53.688 (0,35%) NaN
 20          (011) CARLOS EDWARD OSORIO AGUIAR   48.544 (0,31%) NaN
 21         (012) EDUARDO JOSE TOUS DE LA OSSA   46.745 (0,30%) NaN
 22   (100) SANDRA ELENA VILLADIEGO VILLADIEGO   39.397 (0,25%) NaN
 23      (035) NICOLAS DANIEL GUERRERO MONTAÑO   37.523 (0,24%) NaN
 24           (033) ALFONSO ANGARITA BARACALDO    6.352 (0,04%) NaN
 25               (019) ALBEIRO VANEGAS OSORIO    5.746 (0,03%) NaN
 26       (016) FABIAN ORLANDO RIVERA CARRILLO    5.050 (0,03%) NaN
 27             (014) EDILSON HUERFANO ORDOÑEZ    5.041 (0,03%) NaN
 28            (023) LUZ ADRIANA LAMUS AGUILAR    3.563 (0,02%) NaN

In [14]:
# Para acceder al sexto dataframe

df[5].head()

                                                 0                1   2
0  (001) AURELIJUS RUTENIS ANTANAS MOCKUS SIVICKAS  540.783 (3,53%) NaN
1             (010) ANGELICA LISBETH LOZANO CORREA  105.700 (0,69%) NaN
2                (005) JORGE EDUARDO LONDOÑO ULLOA   64.216 (0,41%) NaN
3                 (100) IVAN LEONIDAS NAME VASQUEZ   38.988 (0,25%) NaN
4                     (007) JOSE AULO POLO NARVAEZ   34.287 (0,22%) NaN

### Salida HTML

In [15]:
df[5].to_html('senado2018_verdes_salida.html')

_____
_____
## SQL (Opcional)

* Nota: si para usted es completamente desconocido SQL, se recomienda buscar material adicional en Internet acerca de esto.

El módulo pandas.io.sql proporciona una colección de contenedores de consultas para facilitar la recuperación de datos y reducir la dependencia de APIs específicas de bases de datos. La abstracción de bases de datos es proporcionada por SQLAlchemy si está instalada. Además, necesitará un controlador para su base de datos. Ejemplos de tales controladores son psycopg2 para PostgreSQL o pymysql para MySQL. Para SQLite está incluido en la biblioteca estándar de Python por defecto. Puede encontrar una descripción general de los controladores soportados por cada dialecto de SQL en la documentación de SQLAlchemy.

Las funciones clave son:
* read_sql_table(table_name, con[, schema, ...])	
    * Lee una tabla de una base de datos SQL y la almacena en un DataFrame.
* read_sql_query(sql, con[, index_col, ...])	
    * Lee una consulta (query) SQL y la almacena en un DataFrame.
* read_sql(sql, con[, index_col, ...])	
    * Lee una consulta SQL o una tabla y la almacena en un DataFrame.
* DataFrame.to_sql(name, con[, flavor, ...])	
    * Escribe registros almacenados en un DataFrame en una base de datos SQL.

In [16]:
from sqlalchemy import create_engine

In [17]:
engine = create_engine('sqlite:///:memory:')

In [18]:
# Notese que seguimos usando el sexto DataFrame del senado (ejemplo HTML) 

df[5].to_sql('data', engine) #nombre tabla data

In [19]:
sql_df = pd.read_sql('data',con=engine)

In [20]:
sql_df

,index,0,1,2
0,0,(001) AURELIJUS RUTENIS ANTANAS MOCKUS SIVICKAS,"540.783 (3,53%)",NaN
1,1,(010) ANGELICA LISBETH LOZANO CORREA,"105.700 (0,69%)",NaN
2,2,(005) JORGE EDUARDO LONDOÑO ULLOA,"64.216 (0,41%)",NaN
3,3,(100) IVAN LEONIDAS NAME VASQUEZ,"38.988 (0,25%)",NaN
4,4,(007) JOSE AULO POLO NARVAEZ,"34.287 (0,22%)",NaN
5,5,(012) SANDRA LILIANA ORTIZ NOVA,"27.176 (0,17%)",NaN
6,6,(002) LUIS IVAN MARULANDA GOMEZ,"26.169 (0,17%)",NaN
7,7,(003) ANTONIO ERESMID SANGUINO PAEZ,"22.332 (0,14%)",NaN
8,8,(033) JUAN LUIS CASTRO CORDOBA,"22.117 (0,14%)",NaN
9,9,(009) JORGE ELIECER GUEVARA,"20.769 (0,13%)",NaN
10,10,SOLO POR LA LISTA,"186.149 (1,21%)",NaN
11,11,(006) YEZID RAFAEL GARCIA ABELLO,"14.395 (0,09%)",NaN
12,12,(008) LIBARDO ENRIQUE BALLESTEROS HERNANDEZ,"12.797 (0,08%)",NaN
13,13,(011) OSCAR OSPINA QUINTERO,"12.265 (0,08%)",NaN
14,14,(004) JORGE ELIESER PRIETO RIVEROS,"10.360 (0,06%)",NaN
15,15,(091) ARLEY FERNANDO GOMEZ HERNANDEZ,"10.005 (0,06%)",NaN
16,16,(053) LUIS ALFONSO ESCOBAR JARAMILLO,"9.287 (0,06%)",NaN
17,17,(051) JOSE MAURICIO MORA RODRIGUEZ,"7.906 (0,05%)",NaN
18,18,(030) JUAN CARLOS BARRERA VALENCIA,"7.284 (0,04%)",NaN
19,19,(050) OSCAR VANEGAS ANGARITA,"6.964 (0,04%)",NaN
20,20,(024) RICARDO MARIA CAÑON PRIETO,"6.042 (0,03%)",NaN
21,21,(021) DIEGO MUÑOZ MARROQUIN,"6.003 (0,03%)",NaN
22,22,(072) ALFREDO ENRIQUE VILLADIEGO LORA,"5.608 (0,03%)",NaN
23,23,(034) FERNANDO MERCHAN RAMOS,"5.593 (0,03%)",NaN
24,24,(069) JAIME ALBERTO MARTINEZ VELEZ,"5.400 (0,03%)",NaN
25,25,(013) GABRIEL BUSTAMANTE PEÑA,"5.214 (0,03%)",NaN
26,26,(043) AURA ISABEL GRANADA SANCHEZ,"4.793 (0,03%)",NaN
27,27,(017) EDGAR ALBERTO POLO DEVIA,"4.770 (0,03%)",NaN
28,28,(040) HORACIO CORREA GARRIDO,"4.596 (0,03%)",NaN
29,29,(060) EDWIN ELIAS APARICIO SIERRA,"4.402 (0,02%)",NaN
...,...,...,...,...
58,58,(094) CLAUDIA ALEJANDRA TERRA GUERRA,"1.353 (0,01%)",NaN
59,59,(042) GISELLA ENERIET RIOS SANCHEZ,"1.326 (0,01%)",NaN
60,60,(066) JULIAN ANDRES GARCIA CORTES,"1.309 (0,01%)",NaN
61,61,(025) GEONEY SANABRIA CABULO,"1.254 (0,01%)",NaN
62,62,(054) AKEMI SOFIA RAVE HERNANDEZ,"1.233 (0,01%)",NaN
63,63,(056) PATRICIA VALENZUELA BUITRAGO,"1.135 (0,01%)",NaN
64,64,(038) SOLARIUS TORIJANO ALFONSO,"1.073 (0,01%)",NaN
65,65,(059) ADRIANA MARIA REINA SANCHEZ,"1.043 (0,01%)",NaN
66,66,(090) LUIS ARGEMIRO MALAMBO MARTINEZ,"999 (0,01%)",NaN
67,67,(071) ANDREA PATRICIA PEÑA VASQUEZ,"929 (0,01%)",NaN
68,68,(048) SONIA ELVIRA VELOZA MOGOLLON,"813 (0,01%)",NaN
69,69,(092) LINDSAY BRIGITTE BECERRA LEON,"712 (0,01%)",NaN
70,70,(045) OSCAR ALBERTO ARENALES VERGARA,"674 (0,01%)",NaN
71,71,(093) PASTORA ALICIA MARIN,"563 (0,01%)",NaN
72,72,(074) MAXIMINO ANTONIO RODRIGUEZ ARRIETA,"554 (0,01%)",NaN
73,73,(084) ANA EBELIA GAMEZ FIGUEREDO,"514 (0,01%)",NaN
74,74,(088) LILI BARON ALARCON,"479 (0,01%)",NaN
75,75,(046) RAFAEL GUSTAVO GUERRERO TAPIAS,"469 (0,01%)",NaN
76,76,(080) ALFREDO BENAVIDES CASTILLEJO,"433 (0,01%)",NaN
77,77,(089) CIELO AMPARO BERNAL GUARNIZO,"427 (0,01%)",NaN
78,78,(076) MARTIN ALONSO ALVARADO NAVIA,"386 (0,01%)",NaN
79,79,(075) JESICA MARIA MONROY CASSIANI,"372 (0,01%)",NaN
80,80,(087) CARMEN PATRICIA CASTELLANOS CASTELLANOS,"366 (0,01%)",NaN
81,81,(047) FERNANDO QUINTERO ARTURO,"362 (0,01%)",NaN
82,82,(083) LUZ NEILA POLO RAMIREZ,"359 (0,01%)",NaN
83,83,(079) LUISA ELENA PINEDO MARTINEZ,"353 (0,01%)",NaN
84,84,(085) DIANA MARCELA OLAYA SANCHEZ,"287 (0,01%)",NaN
85,85,(086) NANCY YANETH RIAÑO CASTRO,"275 (0,01%)",NaN
86,86,(081) ROCIO DEL PILAR FAJARDO VARGAS,"240 (0,01%)",NaN
87,87,(082) MARIA DEL CARMEN CLAVIJO GOMEZ,"187 (0,01%)",NaN